body {
    background: coral;
    width: 1440px;
    height: 1024px;
}
.title {

    position: absolute;
    width: 410px;
    height: 62px;
    left: 174px;
    top: 40px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 49px;
    text-align: center;

    color: #F9B23D;
}

.logo {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 27px;
    
}

.player1 {

    color: black;
    position: absolute;
    width: 299px;
    height: 94px;
    left: 296px;
    top: 162px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    

}

.com {
    color: black;
    position: absolute;
    width: 299px;
    height: 94px;
    left: 865px;
    top: 162px;

    color: black;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#vstext {
    position: absolute;
    width: 296px;
    height: 186px;  
    left: 589px;
    top: 419px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-30.98deg);

    color: #000000;
    background-color: #0b9b47;

}

#refresh {
    position: absolute;
    width: 77px;
    height: 71px;
    left: 681px;
    top: 843px;

}

#rock:hover {
    background-color: #C4C4C4;
    border-radius: 30px;
    transition: .5s ease-in-out;
}

#paper:hover {
    background-color: #C4C4C4;
    border-radius: 30px;
    transition: .5s ease-in-out;
}

#sciscors:hover {
    background-color: #C4C4C4;
    border-radius: 30px;
    transition: .5s ease-in-out;
}

#crock:hover {
    background-color: gray;
    border-radius: 50px;
}